<h1>A new task has been deleted from the project <%= @project.name %>. Details below:</h1>
<ul>
  <li><strong>Task Name:</strong> <%= @task_name %></li>
  <li><strong>Description:</strong> <%= @task_description %></li>
</ul>