
<form action="<%= project_tasks_path(@project) %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="task-content">
    <input type="text" name="task[name]" class="title-input">
    <textarea name="task[description]" class="textarea-space"></textarea>
    <!--input type="text" name="task[state]" class="state-input">-->

    <!--    <select name="task[state]" class="state-input">-->
    <!--      <option value="just started">Just Started</option>-->
    <!--      <option value="in progress">In Progress</option>-->
    <!--      <option value="done">Done</option>-->
    <!--    </select>-->

    <input type="date" name="task[deadline_at]" class="date-input">
    <button type="submit" value="Submit" class="submit-btn">Post</button>
  </div>

</form>

<%#= form_with(model: [@project, @task])  do |form| %>
<%# if @task.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>-->

<!--      <ul>-->
<%# @task.errors.full_messages.each do |error| %>
<!--          <li><%#= error %></li>-->
<%# end %>
<!--      </ul>-->
<!--    </div>-->
<%# end %>

<!--  <div class="field">-->
<%#= form.label :task_title %>
<%#= form.text_field :task_title %>
<!--  </div>-->

<!--  <div class="field">-->
<%#= form.label :task_description %>
<%#= form.text_area :task_description %>
<!--  </div>-->

<!--  <div class="field">-->
<%#= form.label :state %>
<%#= form.select :state, ["Just started", "In progress", "Done"] %>
<!--  </div>-->

<!--  <div class="field">-->
<%#= form.label :deadline %>
<%#= form.datetime_field :deadline %>
<!--  </div>-->

<!--  <div class="actions">-->
<%#= form.submit %>
<!--  </div>-->
<%# end %>
