<form action="<%= project_tasks_path(@project) %>" method="post">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <div class="task-content">
    <input type="text" name="task[name]" class="title-input">
    <textarea name="task[description]" class="textarea-space"></textarea>

    <input type="date" name="task[deadline_at]" class="date-input">
    <button type="submit" value="Submit" class="submit-btn">Post</button>
  </div>

</form>