<h1>Task Details</h1>

<p><strong>Name:</strong> <%= @task.name %></p>
<p><strong>Description:</strong> <%= @task.description %></p>

<p>
  <strong>Status:</strong>
  <% case @task.status %>
  <% when 'unstarted' %>
    <td>Not Started</td>
  <% when 'started' %>
    <td>In Progress</td>
  <% when 'done' %>
    <td>Completed</td>
  <% end %>
</p>

<p><strong>Deadline:</strong> <%= @task.deadline_at %></p>

<%= link_to "Back to Tasks", project_tasks_path(@project) %>