<!DOCTYPE html>
<html>
<head>
  <title>Project Manager WebApp</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <div class="jumbotron shadow">
    <h1 class="display-4">Welcome to Project Manager WebApp</h1>
    <p class="lead">This is a web application that allows you to create and manage projects and tasks.</p>
    <hr class="my-4">
    <p>Get started by creating your first project and adding tasks to it.</p>
    <a class="btn btn-outline-primary" href="/projects/" role="button">Create Project</a>
  </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
