<%=form_with model: project do |form|%>
<div class="form-body">
<p>Название проекта</p>
<p> <%=form.text_field :name%> </p>

<p>Описание</p>
<p>  <%=form.text_area :description, rows: 5%> </p>
<p><%=form.submit "Создать"%></p>
<%end%>
<div>