$black: #222;
$white: #fff;
$red: #f00;
$purple: #9a336a;
$green: #008000;
$grey: #ccc;
$grey-dark: #333;
$blue: #2732ff;
$blue-link: #007bff;
$blue-link-hover: #0056b3;

$header-bg: #f1f1f1;
$border-bg: #f2f2f2;
