.center {
  text-align: center;
}

.record {
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
}

.flash-alert {
  color: red;
}

.flash-notice {
  color: green;
}

header {
  margin: 10px;
  padding: 10px;
  text-align: right;
  font-size: 100%;
  text-decoration: none;
}