%flash-message {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 10px;
  width: 300px;
  text-align: center;
}

.flash-alert {
  @extend %flash-message;

  color: $red;
}

.flash-notice {
  @extend %flash-message;

  color: $green;
}

.error-box {
  border: 2px solid $red;
  padding: 10px;
}

.error-header {
  font-size: 20px;
  font-weight: bold;
}

.error-body {
  color: $red;
}

.sort-links {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 1rem 0;

  font-size: .75rem;
}

.link {
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 100%;
  padding: 1rem 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.table-actions {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}
