.flash-alert {
  color: $red;
}


.flash-notice {
  color: $green;
  
}

.sort-links {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 1rem 0;
  font-size: 15px;
}
a {
  text-decoration: none;
}

.link {
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 100%;
  padding: 1rem 2rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.table-actions {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.record {
  border: 1px solid;
  border-radius: 15px;
  display: inline-block;
  overflow: hidden; 
  text-overflow: ellipsis;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 30%;
  
}

.record > p{
  font-size: 30px;
  
}

.justify-content-center.d-flex{
  grid-gap:20px;
  font-size: 20px;
}
.pagination{
  display: flex;
  justify-content: center;
}

.pagination a{
  flex: 1 1 auto;
  margin: 0 5px;
}