div {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

div.centered {
  text-align: center;
}

h1, h2 {
  font-family: Arial, sans-serif;
  color: #182e6b;
  text-align: center;
}

h2 {
  font-family: Arial, sans-serif; 
  color: #3d3b3b;
  text-align: center;
}

a {
  color: #004483;
  text-decoration: none; 
  font-weight: bold; 
}

.button {
  background-color: #396899;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #589ae0;
}